<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/custom.css">
    <title>Document</title>
</head>
<body>
    <div class="form-login">
        <form action="">
            <h1>Login</h1>
            <p>E-mail</p>
            <input type="text">
            <p>Senha</p>
            <input type="text">
            <br>
            <button type="button" class="button-base button-login"onclick="location.href='{{ url_for('home') }}'">Entrar</button>
        </form>
    </div>
</body>
</html>